<!DOCTYPE html>

html
  head
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

    title Jonathan Delgado Z - A Web Engineer

    link(rel="stylesheet", href="styles/style.css")

  body
    
    #site-title
      hgroup.bg-title
        h1: a(href="https://twitter.com/jondotsoy") Jonathan Delgado Z
        h2 A Web Engineer with a stack on JavaScript, React and Docker.
      footer.footer
        p more about me <a href="https://www.linkedin.com/in/jonadelgado/">LinkedIn</a> or my email <a href="mailto:hi@jon.soy">hi@jon.soy</a>.
