@import url('https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One');
@import 'reset.css';

/* Settings */
/* Color configure https://coolors.co/f37b7b-ef4a4a-cdedf6-ef7b45-d84727 */
$color-bg: #fff;
$color-text: color(#000 alpha(70%));
$color-title: #56CCF2;
$color-linktext: #56CCF2;
$shadown-color: #000;

/* Tools */

/* Generic */

/* Elements */
body {
  font-family: 'Rubik', sans-serif;
  background-color: $color-bg;
  font-weight: 400;
  font-size: 20px;
}

/* Objects */

/* Components */
#site-title {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  /* margin-top: 5em; */
  /* margin-bottom: 5em; */
  padding: 20px 10px;
  box-sizing: border-box;
}

.bg-title {
  max-width: 500px;
  margin: auto;

  h1 {
    font-family: 'Rubik Mono One', sans-serif;
    color: $color-title;
    font-size: 2em;
    font-weight: 400;
    padding-bottom: .35em;

    text-shadow:
      0px 1px 1px color($color-title alpha(20%)),
      0px 2px 2px color($color-title alpha(20%));

    a {
      color: $color-linktext;
      text-decoration: none;
    }
  }

  h2 {
    color: $color-text;
    font-size: 1.3em;
    font-weight: 400;
  }

}

footer.footer {
  color: $color-text;
  a {
    color: $color-linktext;
  }
}

/* Trumps */
