@import url('https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'reset.css';

/* Settings */
/* Color configure https://coolors.co/f37b7b-ef4a4a-cdedf6-ef7b45-d84727 */
$color-bg: #fff;
$color-text: color(#000 alpha(70%));
$color-title: #56CCF2;
$color-linktext: #56CCF2;
$shadown-color: #000;

/* Tools */

/* Generic */

/* Elements */
body {
  background-image: url('/img/desktopwork.png');
  background-image: url('/img/desktopwork.webp');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  contain: content;
}

/* Objects */

#containerbody {
  max-width: 330px;
  margin: 80px auto;
  padding: 15px;

  .title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #56CCF2;

    margin-bottom: 20px;
  }

  .subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;

    color: #000000;

    margin-bottom: 21px;
  }

  .more {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;

    color: #000000;
  }

  a,
  a:link,
  a:visited {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-decoration-line: underline;

    color: #000000;
  }
}

@media (width <= 360px) {
  #containerbody {
    margin: 50px auto;

    .title {
    }

    .subtitle {
    }

    .more {
    }
  }
}

/* Trumps */
